<!-- Vertically centered scrollable modal -->
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tree_title"></h5>
          <i
            class="far fa-times-circle"
            datatoggle="modal" 
            onclick="$('#myModal').modal('hide');">
        </i>
        </div>
        <div class="modal-body">
        <div class="container">
            <img id="tree_img" src="" class="w-100 h-30">
        </div>
        <div class="d-flex pt-0">
            <p class="pr-1" style="font-weight: bold !important;">Latin Name: </p> <p id="latin_name"></p>
        </div>
        <div class="d-flex">
          <p class="pr-1"style="font-weight: bold !important;">Age: </p> <p id="tree_age"></p>
        </div>
        <div class="d-flex">
          <p class="pr-1"style="font-weight: bold !important;">Height: </p> <p id="tree_height"></p>
        </div>
        <div class="d-flex">
          <p class="pr-1"style="font-weight: bold !important;">Origin: </p> <p id="tree_origin"></p>
        </div>
          <hr class="justify-content-center hr pt-0" style="width: 85%;">
        <div class="">
            <p class="pt-0"style="font-weight: bold !important;">Description: </p>
            <p id="tree_info">Tree info</p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success float-left" datatoggle="modal" onclick="read();">
            Speak
          </button>
          <button type="button" class="btn btn-danger" datatoggle="modal" onclick="$('#myModal').modal('hide');">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  