<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
    <!-- Imports the desktop navbar template -->
    {{template "nav.html"}}

    <!--The div for the map to be-->
    <div class="justify-content-center" id="map"></div>
 
    <!-- Imports the modal for tree description -->
    {{template "infomodal.html"}}

    <!-- Imports the mobile navbar template -->
    {{template "mobnav.html"}}




    {{template "scripts.html"}}
    <!-- Updates the title of the page based on what page the user is on via variable passed in from main.go-->
    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <!--Generate the map for the page using the Google My Maps JavaScript API-->
    <script>
        let map;
        //defines the variable used to convert text into speech (speech synth api)
        var textToSpeech = window.speechSynthesis;
        
          //on IOS you cannot autmatically play audio, it must be triggered by a button push, hence, this code allows 
    //for any tree information to be spoken aloud via a press of a button
    function read(){
            var idName = $('#tree_title').html(); //add the contents of the data box to variables
            var age = $('#tree_age').html();
            var latinname = $('#latin_name').html();
            var height = $('#tree_height').html();
            var description = $('#tree_info').html();
            var origin = $('#tree_origin').html();
            if('speechSynthesis' in window){//if speech synth is supported then create a new Utterance string
                var speech = new SpeechSynthesisUtterance('Tree ' + idName + ', This ' + latinname + ', is ' + height + ' tall. ' + age + 'years old, and originates from ' + origin + ',' + description);
                speech.lang = 'en-GB';//set the speech voice/language
                textToSpeech.speak(speech);//speak the string defined above at default pace
            }
    }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 55.942567, lng: -3.216411 },
                zoom: 12,
            });

            var tree = {
            url: "/static/img/tree.svg",
            scaledSize: new google.maps.Size(74, 74),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 74),
             }

           
            map.data.loadGeoJson('/static/small-edi.geojson', null, function (features) {
            var markers = features.map(function (feature) {
                var g = feature.getGeometry();
                marker = new google.maps.Marker({ 
                    'position': g.get(0),
                    'icon': tree
                });
                google.maps.event.addListener(marker, 'click', () => {
                
                //Try and catch statements as some data in the Edin Trees dataset is null and hence would throw undefined errors,
                //these statements handle any errors if the clicked on tree has any undefined elements
                try {
                    if (event.feature.getProperty('CommonName')){
                        var tree_name = event.feature.getProperty('CommonName');
                    }
                }
                catch(e){
                    var tree_name = "Insufficient Data";
                };

                try {
                    if (event.feature.getProperty('LatinName')){
                        var latin_name = event.feature.getProperty('LatinName');
                    }
                }
                catch(e){
                    var latin_name = "Insufficient Data";
                };

                try {
                    if (event.feature.getProperty('AgeGroup')){
                        var tree_age = event.feature.getProperty('AgeGroup');
                    }
                }
                catch(e){
                    var tree_age = "Insufficient Data";
                };

                try {
                    if (event.feature.getProperty('Height')){
                        var tree_height = event.feature.getProperty('Height');
                    }
                }
                catch(e){
                    var tree_height = "Insufficient Data";
                };
                //try and catch 
                try {
                    if (event.feature.getProperty('Site')){
                        var tree_description = event.feature.getProperty('Site');
                    }
                }
                catch(e){
                    var tree_description = "Insufficient Data";
                };
                var tree_origin = "Insufficient Data";
                var tree_img = "";
                $('#tree_title').html(tree_name);
                $('#tree_img').attr("src", tree_img);
                $('#tree_age').html(tree_age);
                $('#latin_name').html(latin_name);
                $('#tree_height').html(tree_height);
                $('#tree_info').html('Located at ' + tree_description);
                $('#tree_origin').html(tree_origin);
                $('#myModal').modal('show');
                })
                return marker;
            });

         
            var markerCluster = new MarkerClusterer(map, markers,{ 
                imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            });

            //loads the tree data from a geojson file located in the /static directory
            map.data.loadGeoJson('/static/TreesHWU.geojson', null, function (features) {

            //this function sets the style of the maps markers using the image link outlined by each object in the geojson files
            map.data.setStyle(function(feature) {
                var tree = {
                url: feature.getProperty('icon'),
                scaledSize: new google.maps.Size(74, 74),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 74),
                };
            return {icon: tree};
            });
            });

              // Handles click event on a tree marker, pulls matching tree data from json and renders it in a pop-up modal on screen
              map.data.addListener('click', function (event) {
                var tree_id = event.feature.getProperty('Id');
                var tree_name = event.feature.getProperty('CommonName');
                var latin_name = event.feature.getProperty('LatinName');
                var tree_age = event.feature.getProperty('Age');
                var tree_height = event.feature.getProperty('Height');
                var tree_description = event.feature.getProperty('Description');
                var tree_origin = event.feature.getProperty('Origin');
                var tree_img = event.feature.getProperty('Src');
                $('#tree_title').html(tree_id + ": " + tree_name);
                $('#tree_img').attr("src", tree_img);
                $('#tree_age').html(tree_age);
                $('#latin_name').html(latin_name);
                $('#tree_height').html(tree_height);
                $('#tree_info').html(tree_description);
                $('#tree_origin').html(tree_origin);
                $('#myModal').modal('show');
            });

            map.data.setStyle(function (feature) {
            return { icon: tree, visible: false };
            });
        }
    </script>
    <!-- This link performs the API call using my key and the result of the initialisation function above-->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALqdMIQIIw-bxjUWGb1LNwXgB8sb4saeA&callback=initMap"
        type="text/javascript"></script>

    <!-- Dynamic height adjustments to get 100% height for map-->
    <script>
        var body = document.body, html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight) - 100;
        document.getElementById('map').style.height = height + 'px';
    </script>
</body>
{{template "footer.html"}}