<footer>
    <nav class="navbar  navbar-light bg-light desknav mobilnav deskhide">
        <div class="container mobilnav">
            <div class="container navbar-nav justify-content-evenly align-items-center d-flex flex-row mobnav">
                <a class="nav-link pt-0 pb-0 col" aria-current="page" href="/" id="home2"><i
                        class="fas fa-home navcol"></i></a>
                <a class="nav-link pt-0 pb-0 col" href="/tour" id="tour2"><i class="fas fa-tree navcol"></i></a>
                <a class="nav-link pt-0 pb-0 col" href="/map"><i class="fas fa-map navcol"></i></a>
                <a class="nav-link pt-0 pb-0 " href="/scan" id="scan"><i class="fas fa-qrcode navcol"></i></a>
            </div>
            <!--<div class="container navbar-nav justify-content-evenly align-items-center d-flex flex-row mobnav">
            <a class="nav-link active pt-0 pb-0  caption col" aria-current="page" href="/">Home</a>
            <a class="nav-link pl-3 pt-0 pb-0 caption col" href="/tour">Tour</a>
            <a class="nav-link pl-3 pt-0 pb-0 caption col" href="/map">Map</i></a>
            <a class="nav-link pt-0 pb-0  caption col" href="/scan">Scan</i></a>
        </div>-->
        </div>
    </nav>
</footer>