<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light desknav">
    <div class="container-fluid">
      <div class="navtitle">
        <a class="navbar-brand navtitle mobhide" style="color: rgb(0, 184, 0); font-size: 1.5em !important;" href="/"
          id="navtitle"></a>
        <a class="navbar-brand navtitle deskhide p-0" style="color: rgb(0, 184, 0); font-size: 1em !important;" href="/"
          id="navtitle2"></a>
      </div>
      <button class="navbar-toggler mobhide" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse desknav mobhide pl-4" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link navcol" aria-current="page" id="home" href="/">Home</a>
          <a class="nav-link pl-3 navcol" id="tour" href="/tour">Tour</a>
          <a class="nav-link pl-3 navcol" href="/map">Map</a>
        </div>
      </div>
      <a href="/settings"><i class="fas fa-cog float-right mobhide navcol" style="font-size: 1.2em;"></i></a>
      <a href="/settings"><i class="fas fa-cog float-right deskhide navcol" style="font-size: 1em;"></i></a>

    </div>
  </nav>
</header>