<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
    {{template "nav.html"}}

    <div class="container justify-content-center align-items-center text-center w-80 h-50 pt-3 deskhide">
            <div class="" id="reader" ></div>
    </div>
    <hr class="justify-content-center hr deskhide" style="width: 85%;">
    <div class="justify-content-center align-items-center text-center deskhide">
        <button id="start" class="btn btn-success deskhide" style="font-weight: bold;">Start Scanning.</button>
   </div>
   <div class="justify-content-center align-items-center text-center deskhide">
        <button class="btn btn-secondary deskhide" style="font-weight: bold;" onclick="location.href = '/ar'">Try AR.</button>
    </div>
    <hr class="justify-content-center hr pt-0 deskhide" style="width: 85%;">
    <div class=" scandes pl-3 pt-2 textcolmob justify-content-center wipfooter align-items-center deskhide">
        <p class="deskhide descriptiontitle">How to scan a QR code:</p>
        <p class="deskhide description">Press "Start Scanning" and aim the camera at the QR code on the tree. Note: AR is an experimental feature.</p>
        <p class="deskhide description" style="color: red;">*If you are using an IOS device, QR code scanning only works on Safari</p>
    </div>
    <hr class="justify-content-center hr pt-0 deskhide" style="width: 85%;">
    <div class="h-100"></div>
  {{template "mobnav.html"}}


  
    {{template "scripts.html"}}
    <script>
        var navTitle = '{{.navtitle}}';
        document.getElementById('navtitle').innerHTML = navTitle;
        document.getElementById('navtitle2').innerHTML = navTitle;
    </script>
    <script src="/static/js/html5-qrcode.min.js"></script>
    <script>
        var scanning = false;
        var scanningRequested = false;
        var html5qrcode = new Html5Qrcode("reader", true);

        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }

        function validURL(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?'+ // the protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // the domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query 
            '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
        return !!pattern.test(str);
        }
        function startScanning() {
            console.log("Scan beginning")
            var results = document.getElementById('scanned-result');//define QR variables
            var lastMessage;
            var codesFound = 0;
            function onScanSuccess(qrCodeMessage) {//if a QR code is found
                var button = document.getElementById('start');
                if (lastMessage !== qrCodeMessage) {//checks if the last scanned item is not the same as the current one
                    lastMessage = qrCodeMessage;//updates the last scanned message with the current one
                    if (validURL(qrCodeMessage)) {//checks the QR code content using the REGEX function to make
                    //sure it is a URL
                        stopScanning();//stop scanning if it is valid
                        scanning = false;
                        button.disabled = false;
                        button.innerHTML = "Start Scanning";
                        button.setAttribute('class','btn btn-success');
                        //This code makes sure that users cannot scan malicious URLS
                        //i.e. the QR code can only be for the trail app domain
                        if (qrCodeMessage.includes("thetrailapp")){
                        window.location.href = qrCodeMessage;//redirects the user to that page
                        }else{
                            alert("Sorry, you can only scan QR codes designed for the Trail application");
                        }
                    }
                }
            }
            return html5qrcode.start(
                { facingMode: "environment" },
                { fps: 10, qrbox: 150 },
                onScanSuccess);
        }

        function stopScanning() {
            return html5qrcode.stop();
        }

        docReady(function() {
            var button = document.getElementById('start');
            button.addEventListener('click', function() {
                if (!scanning) {
                    button.disabled = true;
                    startScanning()
                    .then(_ => {
                        scanning = true;
                        button.disabled = false;
                        button.innerHTML = "Stop Scanning.";
                        button.setAttribute('class','btn btn-danger')
                    })
                    .catch(err => {
                        button.disabled = false;
                        alert(err);
                    })
                } else {
                    button.disabled = true;
                    stopScanning()
                    .then(_ => {
                        scanning = false;
                        button.disabled = false;
                        button.innerHTML = "Start Scanning.";
                        button.setAttribute('class','btn btn-success');
                    })
                    .catch(err => {
                        button.disabled = false;
                        alert(err);
                    }) 
                }
            });
        });
        </script>
</body>
{{template "footer.html"}}