<!DOCTYPE html>
<html lang="en">

{{template "head.html"}}

<body>
{{template "nav.html"}}

<br class="mobhide">

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Accessability</a>
  
    <a href="#" class="list-group-item list-group-item-action list-group-item-action"
      >Help/How To</a
    >
    <a href="#" class="list-group-item list-group-item-action list-group-item-action"
      >Licences and Accreditaion</a
    >
    <a href="/TreesHWU.geojson" class="list-group-item list-group-item-action list-group-item-action"
      >Download HWU Tree Geojson</a
    >
    <a href="https://github.com/ruaridhmollica/Trail" class="list-group-item list-group-item-action list-group-item-action"
      >GitHub Project</a
    >
    <a href="#" class="list-group-item list-group-item-action list-group-item-action"
      >Privacy and GDPR</a
    >
  </br>
{{template "mobnav.html"}}




{{template "scripts.html"}}
<script>
    var navTitle = '{{.navtitle}}';
    document.getElementById('navtitle').innerHTML = navTitle;
    document.getElementById('navtitle2').innerHTML = navTitle;
</script>
</body>
{{template "footer.html"}}